.one-player--dan-mu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}
.one-player--dan-mu > div {
  position: absolute;
  font-size: 18px;
  height: 1.8em;
  left: 100%;
  white-space: nowrap;
  transition-property: transform;
  transition-timing-function: linear;
  display: flex;
  align-items: center;
}
